APP_NAME=MACUIN-Clientes
APP_ENV=local
APP_KEY=base64:k8BHwgFJMPkdQzWHZvVpG0K9yFmRqSbNwL4nE8xJq2s=
APP_DEBUG=true
APP_URL=http://localhost:8080

API_BASE_URL=http://api-fastapi:8000/api/v1

SESSION_DRIVER=file
SESSION_LIFETIME=120
